# MacOS
.DS_Store

# VS Code
.vscode/

# Dependencies
node_modules/

# App environment vars, see .env.example and README for more info
.env

# Logs
*.log

# Coverage reports
.nyc_output/

# SQLite
*.sqlite
